/*
 * brief    Button Styles
 * author   Christian Rathemacher (christian@weltenbauer-se.com)
 * company  weltenbauer. Software Entwicklung GmbH
 * date     February 2017
 */

//-----------------------------------------------------------------------------

:host{

	.button{
		position: relative;
		min-width: 50px;
		height: 50px;
		box-shadow: 11px 10px 36.8px 3.2px rgba(0, 0, 0, 0.15);
		cursor: pointer;

		&--small{
			width: 50px;
		}

		&--normal{
			width: 250px;
		}

		&__backgroundBlur{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-image: url(./img/backgrounds/fog01-blurred.jpg);
		}

		&__backgroundColor{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: #ffffff;
			opacity: 0.3;
		}

		&__content {
			position: absolute;
			top: 0;
			left: 1px;
			right: 0;
			bottom: 0;

			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;

			text-align: center;
			padding: 5px 5px;
		}
	}
}
