/*
 * brief    Item Styles
 * author   Christian Rathemacher (christian@weltenbauer-se.com)
 * company  weltenbauer. Software Entwicklung GmbH
 * date     January 2017
 */

//-----------------------------------------------------------------------------

@import '../../../../styles/definitions';

//-----------------------------------------------------------------------------

:host{

	.item{
		position: relative;
		width: $itemSize;
		height: $itemSize;
		margin: 0 15px 15px 0;

		&__background{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}

		&__content{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;

			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			text-align: center;
			padding: 10px 5px;

			&--interactive{
				cursor: pointer;
			}

			&__label{
				width: 100%;
				margin-top: 5px;
				text-overflow: ellipsis;
				text-transform: uppercase;
			}

			&__value{
				width: 100%;
				text-overflow: ellipsis;
				font-weight: bold;
				text-transform: uppercase;
			}
		}

		&__linkIcon{
			position: absolute;
			top: 2px;
			right: 2px;
		}
	}
}
