/*
 * brief    Item Styles
 * author   Christian Rathemacher (christian@weltenbauer-se.com)
 * company  weltenbauer. Software Entwicklung GmbH
 * date     January 2017
 */

//-----------------------------------------------------------------------------

@import '../../../../styles/definitions';

//-----------------------------------------------------------------------------

:host{

	.item{
		position: relative;
		margin: 0 15px 15px 0;

		&__background{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}

		&__content{
			position: relative;
			width: $itemSize;
			height: $itemSize;

			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;

			text-align: center;
			padding: 10px 5px;

			&--interactive{
				cursor: pointer;
			}

			&__label{
				width: 100%;
				padding-top: 5px;
				text-overflow: ellipsis;
				text-transform: uppercase;

				&--big{
					font-size: $fontSizeBig;
					font-weight: 100;
				}
			}

			&__value{
				width: 100%;
				text-overflow: ellipsis;
				font-weight: bold;
				text-transform: uppercase;

				background-color: $baseColor;
				color: transparent;
				text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.25);
				-webkit-background-clip: text;
				-moz-background-clip: text;
				background-clip: text;

				&--big{
					font-size: $fontSizeBig;
				}
			}
		}

		&__linkIcon{
			position: absolute;
			top: 2px;
			right: 2px;
		}
	}
}
