/*
 * brief    Item Styles
 * author   Christian Rathemacher (christian@weltenbauer-se.com)
 * company  weltenbauer. Software Entwicklung GmbH
 * date     January 2017
 */

//-----------------------------------------------------------------------------

@import '../../../../styles/definitions';

//-----------------------------------------------------------------------------

:host{

	.item{
		position: relative;
		width: 115px;
		height: 115px;
		margin: 0 15px 15px 0;
		box-shadow: 11px 10px 36.8px 3.2px rgba(0, 0, 0, 0.15);
		overflow: hidden;

		&__backgroundColor{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: #f0f0f0;
			opacity: 0.8;
		}

		&__content{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;

			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			text-align: center;
			padding: 10px 5px;

			&--interactive{
				cursor: pointer;
			}

			&__label{
				width: 100%;
				margin-top: 5px;
				overflow: hidden;
				text-overflow: ellipsis;
				text-transform: uppercase;
			}

			&__value{
				width: 100%;
				overflow: hidden;
				text-overflow: ellipsis;
				font-weight: bold;
				text-transform: uppercase;
			}
		}
	}
}
