/*
 * brief    Box Backgrounds with opacity
 * author   Marc Grützmacher (marc@weltenbauer-se.com)
 * company  weltenbauer. Software Entwicklung GmbH
 * date     September 2017
 */

//-----------------------------------------------------------------------------

@import '../definitions';

//-----------------------------------------------------------------------------

.boxBackground{
	background-color: $backgroundBoxColor;
	opacity: $backgroundBoxOpacity;
	box-shadow: 8px 7px 36.8px 3.2px rgba(0, 0, 0, 0.25);
}
