
<hc-bg-image [image]="weatherImage.getCurrentImageUrlSubject()"></hc-bg-image>

<div class="app">

	<main class="app__main">
		<router-outlet></router-outlet>
	</main>

	<footer class="app__footer">
		<div class="app__footer__clock">
			<div class="app__footer__clock__bg boxBackground"></div>
			<div class="app__footer__clock__content">
				<hc-icon [icon]="'clock'" [size]="'small'" class="app__footer__clock__content__icon"></hc-icon>
				12:23
			</div>
		</div>
		<nav class="app__footer__nav"></nav>
	</footer>

</div>

<hc-loading></hc-loading>
