/*
 * brief    Component Styles
 * author   Christian Rathemacher (christian@weltenbauer-se.com)
 * company  weltenbauer. Software Entwicklung GmbH
 * date     July 2017
 */

//-----------------------------------------------------------------------------

@import '../../../styles/definitions';
@import '../../../styles/mixins/breakpoint';

//-----------------------------------------------------------------------------

:host {

	.app{
		position: relative;

		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: stretch;

		&__main{
			height: 80vh;
		}

		&__footer{
			height: 20vh;
		}
	}
}
