<header>
	<nav>
		<a [routerLink]="['']">Home</a>
		<a [routerLink]="['settings']">Settings</a>
	</nav>
</header>

<!-- ---------------------------------------------------------------------- -->

<main>
	<h1>Hello from the other {{api.title}}!</h1>
	<h2>Hello from the other {{api.getItems('main') | json}}!</h2>
	<img src="/img/angular.png">

	<router-outlet></router-outlet>
</main>

<!-- ---------------------------------------------------------------------- -->

<footer>
	<a [href]="url">Webpack Angular 2 Starter</a>
</footer>
