
<hc-bg-image [image]="weatherImage.getCurrentImageUrlSubject()"></hc-bg-image>

<div class="app">

	<main class="app__main" [@routeFadeAnimation]="getRoute(o)">
		<router-outlet #o="outlet"></router-outlet>
	</main>

	<footer class="app__footer">

		<div class="app__footer__clock">
			<div class="app__footer__clock__background boxBackground"></div>
			<hc-icon [icon]="'clock'" [size]="'small'" class="app__footer__clock__content"></hc-icon>
			<div class="app__footer__clock__content">{{ localTime | date:'HH:mm' }}</div>
		</div>

		<nav class="app__footer__nav">
			<hc-button class="app__footer__nav__btn" (onClick)="onClickHomeButton()">
				<hc-icon [icon]="'home'" [size]="'small'"></hc-icon>
			</hc-button>
			<hc-button class="app__footer__nav__btn" (onClick)="onClickSettingsButton()">
				<hc-icon [icon]="'gear'" [size]="'small'"></hc-icon>
			</hc-button>
			<hc-button class="app__footer__nav__btn" (onClick)="onClickInfoButton()">
				<hc-icon [icon]="'info'" [size]="'small'"></hc-icon>
			</hc-button>
		</nav>

	</footer>

</div>

<hc-loading style="z-index: 3"></hc-loading>
