/*
 * brief    Component Styles
 * author   Christian Rathemacher (christian@weltenbauer-se.com)
 * company  weltenbauer. Software Entwicklung GmbH
 * date     July 2017
 */

//-----------------------------------------------------------------------------

@import '../../../../styles/definitions';
@import '../../../../styles/mixins/breakpoint';

//-----------------------------------------------------------------------------

:host {

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;

	.bgImage{

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		background-attachment: fixed;
		background-size: cover;
		background-position: top center;
		background-attachment: fixed;

		opacity: 0;
		transition-property: opacity;
		transition-timing-function: ease-in-out;

		&--visible{
			opacity: 1 !important;
		}
	}
}
