/*
 * brief    Home-Control styles
 * author   Christian Rathemacher (christian@weltenbauer-se.com)
 * company  weltenbauer. Software Entwicklung GmbH
 * date     July 2017
 */

//-----------------------------------------------------------------------------

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	height: 100vh;
	font-size: $fontSizeBase;
	line-height: 1.3em;
	font-family: $defaultFont;
	color: $foregroundColor;
	background-color: $backgroundColor;
	overflow: hidden;

	@include noUserSelection;

	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
}

//-----------------------------------------------------------------------------

