/*
 * brief    Home-Control styles
 * author   Christian Rathemacher (christian@weltenbauer-se.com)
 * company  weltenbauer. Software Entwicklung GmbH
 * date     July 2017
 */

//-----------------------------------------------------------------------------

$foregroundColor: #fff;
$backgroundColor: #000;

//-----------------------------------------------------------------------------

$default-animation-speed: 300ms;

//-----------------------------------------------------------------------------

$defaultFont: Segoe UI;
$fontSizeBase: 18px;

//-----------------------------------------------------------------------------

@font-face{
	font-family: HelveticaNeue;
	font-weight: normal;
	font-style: normal;
	src: url(../../fonts/HelveticaNeue-Roman.woff);
}

@font-face{
	font-family: HelveticaNeue;
	font-weight: 800;
	font-style: normal;
	src: url(../../fonts/HelveticaNeue-Bold.woff);
}

@font-face{
	font-family: HelveticaNeueCondensed;
	font-weight: normal;
	font-style: normal;
	src: url(../../fonts/HelveticaNeue-Condensed.woff);
}