/*
 * brief    Home-Control styles
 * author   Christian Rathemacher (christian@weltenbauer-se.com)
 * company  weltenbauer. Software Entwicklung GmbH
 * date     July 2017
 */

//-----------------------------------------------------------------------------

@mixin vendor($property, $value...){
	-webkit-#{$property}:$value;
	-moz-#{$property}:$value;
	-ms-#{$property}:$value;
	-o-#{$property}:$value;
	#{$property}:$value;
}

//-----------------------------------------------------------------------------

// @include transition: background-color 500ms ease-out 1s;
@mixin transition($property, $duration: $default-animation-speed, $timingFunction: "", $delay: ""){
	-webkit-transition: $property #{$duration} #{$timingFunction} #{$delay};
	-moz-transition: $property #{$duration} #{$timingFunction} #{$delay};
	-o-transition: $property #{$duration} #{$timingFunction} #{$delay};
	transition: $property #{$duration} #{$timingFunction} #{$delay};
}

//-----------------------------------------------------------------------------

@mixin animation($name, $duration: $default-animation-speed, $timingFunction: '', $delay: '', $iteration-count: '', $direction: ''){

	-webkit-animation: $name #{$duration} #{$timingFunction} #{$delay} #{$iteration-count} #{$direction};
	-moz-animation: $name #{$duration} #{$timingFunction} #{$delay} #{$iteration-count} #{$direction};
	-ms-animation: $name #{$duration} #{$timingFunction} #{$delay} #{$iteration-count} #{$direction};
	-o-animation: $name #{$duration} #{$timingFunction} #{$delay} #{$iteration-count} #{$direction};
	animation: $name #{$duration} #{$timingFunction} #{$delay} #{$iteration-count} #{$direction};

	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-ms-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;

	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}

// keyframes mixin
@mixin keyframes($name) {
	@-webkit-keyframes #{$name} {
		@content;
	}
	@-moz-keyframes #{$name} {
		@content;
	}
	@-ms-keyframes #{$name} {
		@content;
	}
	@keyframes #{$name} {
		@content;
	}
}

//-----------------------------------------------------------------------------

@mixin boxShadow($value, $color: rgba(0,0,0,0.5)){
	-webkit-box-shadow: $value $color;
	-moz-box-shadow: $value $color;
	-ms-transform: $value $color;
	-o-transform: $value $color;
	box-shadow: $value $color;
}

//-----------------------------------------------------------------------------

@mixin clearfix() {
	&:before, &:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
	& {
		zoom: 1; /* For IE 6/7 (trigger hasLayout) */
	}
}

//-----------------------------------------------------------------------------

@mixin noUserSelection() {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

//-----------------------------------------------------------------------------

@mixin flexbox($flex-direction: row, $flex-wrap: wrap, $justify-content: center, $align-items: flex-start) {
	display: flex;
	flex-direction: $flex-direction;
	flex-wrap: $flex-wrap;
	justify-content: $justify-content;
	align-items: $align-items;
	align-content: $align-items;
}

@mixin flexItemProperies($flex-grow: 1, $flex-shrink: 1) {
	flex-grow: $flex-grow;
	flex-shrink: $flex-shrink;
}
