/*
 * brief    Icon Styles
 * author   Christian Rathemacher (christian@weltenbauer-se.com)
 * company  weltenbauer. Software Entwicklung GmbH
 * date     January 2017
 */

//-----------------------------------------------------------------------------

@mixin icon($scale, $url, $icons, $spriteSize) {
	width: $scale;
	height: $scale;
	display: inline-block;

	background: transparent url($url) no-repeat;
	background-size: $scale * $spriteSize $scale * 2;
	background-position: 0 0;

	$i: 1;
	@each $iconName in $icons {
		&--#{$iconName} {
			background-position: -($scale * ($i - 1)) 0;
		}
		&--#{$iconName}--active {
			background-position: -($scale * ($i - 1)) (-$scale);
		}
		$i: $i + 1;
	}
}

//-----------------------------------------------------------------------------

:host{

	.icon{

		$icons: undefined girl boy thermometer switch sun power door trashcan battery screwdriver;
		$url: '../img/icons.svg';
		$spriteSize: 11;

		// Default size
		@include icon(50px, $url, $icons, $spriteSize);

		// Small icons
		&--small{
			@include icon(16px, $url, $icons, $spriteSize);
		}
	}
}
