/*
 * brief    Icon Styles
 * author   Christian Rathemacher (christian@weltenbauer-se.com)
 * company  weltenbauer. Software Entwicklung GmbH
 * date     January 2017
 */

//-----------------------------------------------------------------------------

@mixin icon($scale, $url, $icons, $spriteSize) {
	width: $scale;
	height: $scale;
	display: inline-block;

	background: transparent url($url) no-repeat $scale $scale;
	background-size: $scale * $spriteSize $scale;

	$i: 1;
	@each $iconName in $icons {
		&--#{$iconName} {
			background-position: -($scale * ($i - 1)) 0;
		}
		$i: $i + 1;
	}
}

//-----------------------------------------------------------------------------

:host{

	.icon{
	
		$icons: girl boy thermometer switch sun power door trashcan;
		$url: '../img/icons.svg';
		$spriteSize: 10;

		// Default size
		@include icon(50px, $url, $icons, $spriteSize);

		// Small icons
		&--small{
			@include icon(16px, $url, $icons, $spriteSize);
		}
		
		// Default color
		-webkit-filter: invert(1) brightness(0.2);//grayscale(100%) brightness(500%) brightness(45%);
		filter: invert(1) brightness(0.2);//grayscale(100%) brightness(500%) brightness(45%);
	}
}
