/*
 * brief    Global style defintions
 * author   Christian Rathemacher (christian@weltenbauer-se.com)
 * company  weltenbauer. Software Entwicklung GmbH
 * date     July 2017
 */

//-----------------------------------------------------------------------------

$baseColor: #5b5b5b;
$backgroundColor: #ffffff;
$highlightColor: #991d85;

$fontFamily: OpenSans, Arial, Helvetica, sans-serif;
$fontSizeBase: 12px;
$fontSizeBig: 16px;

$breakpointSmartphone: 900px;
$breakpointTablet: 1200px;
$breakpointSmallHeight: 800px;
