/*
 * brief    Global style defintions
 * author   Christian Rathemacher (christian@weltenbauer-se.com)
 * company  weltenbauer. Software Entwicklung GmbH
 * date     July 2017
 */

//-----------------------------------------------------------------------------

$baseColor: #303a3d;
$backgroundColor: #303030;
$activeColor: #489f4c;
$backgroundBoxColor: #f0f0f0;
$backgroundBoxOpacity: 0.8;

$fontFamily: OpenSans, Arial, Helvetica, sans-serif;
$fontSizeBase: 12px;
$fontSizeBig: 18px;

$breakpointSmartphone: 900px;
$breakpointTablet: 1200px;
$breakpointSmallHeight: 800px;

$itemSize: 115px;
