/*
 * brief    Base SASS Styles
 * author   Christian Rathemacher (christian@weltenbauer-se.com)
 * company  weltenbauer. Software Entwicklung GmbH
 * date     July 2017
 */

//-----------------------------------------------------------------------------

@import-normalize;

//-----------------------------------------------------------------------------

@import "./mixins/breakpoint";

@import 'fonts';
@import 'definitions';

//-----------------------------------------------------------------------------

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body, html {
	width: 100vw;
	height: 100vh;
	line-height: 1.3em;
	overflow: hidden;

	font-size: $fontSizeBase;
	font-family: $fontFamily;

	color: $baseColor;
	background: $backgroundColor;
}

a{
	text-decoration: none;
	color: $baseColor;
	outline: 0;
}

h1, h2, h3, h4{
	font-weight: 100;
	text-transform: uppercase;
}

//-----------------------------------------------------------------------------

.hideOnSmartphone {
	@include breakpoint(smartphone) {
		display: none !important;
	}
}
