
<div class="page" (window:resize)="updateSectionWidth(); updateScrollBar();">

	<header class="page__header">
		<div class="page__header__headline">
			<a [routerLink]="['/page/' + parentPage.id]" *ngFor="let parentPage of parentPages">
				<h1>{{parentPage.title}}</h1>
			</a>
			<hc-icon *ngIf="parentPages.length > 0" [icon]="'arrow-right'" [size]="'tiny'" class="page__header__headline__icon"></hc-icon>
			<h1>{{pageTitle}}</h1>
		</div>
	</header>

	<div class="page__sections" #scrollContainer>
		<section *ngFor="let section of sections" class="page__sections__section">
			<h2 class="page__sections__section__headline">{{section.label}}</h2>
			<div class="page__sections__section__items">
				<hc-item [item]="item" *ngFor="let item of section.items"></hc-item>
			</div>
		</section>
	</div>

</div>

<div class="scrollBar">
	<div class="scrollBar__background boxBackground"></div>
	<div class="scrollBar__scrollerContainer" #scrollBarContainer>
		<div class="scrollBar__scrollerContainer__scroller" #scrollBarScroller></div>
	</div>
</div>

