/*
 * brief    Style defintions
 * author   Christian Rathemacher (christian@weltenbauer-se.com)
 * company  weltenbauer. Software Entwicklung GmbH
 * date     January 2017
 */

//-----------------------------------------------------------------------------

:host{
	display: block;
	height: 80vh;
	overflow: hidden;

	.page{
		height: calc(80vh + 20px);

		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;
		justify-content: flex-start;
		align-items: stretch;

		&__header{
			height: 25%;
			padding-left: 10%;
			padding-right: 10%;
			padding-bottom: 6vh;

			display: flex;
			flex-wrap: nowrap;
			flex-direction: column;
			justify-content: flex-end;
		}

		&__sections{
			height: 75%;
			padding-left: 10%;
			padding-right: 10%;

			overflow-x: scroll;
			overflow-y: hidden;
			-webkit-overflow-scrolling: touch;

			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: flex-start;
			align-items: stretch;

			&__section{
				margin-right: 6vw;

				display: flex;
				flex-direction: column;
				flex-wrap: nowrap;
				justify-content: flex-start;
				align-items: stretch;

				&__headline{
					margin-bottom: 2.5vh;
					min-height: 1em;
				}

				&__items{
					display: flex;
					flex-direction: column;
					flex-wrap: wrap;
					justify-content: flex-start;
					align-items: flex-start;
				}
			}
		}
	}
}
