
<div class="page" (window:resize)="ngAfterViewChecked()">

	<header class="page__header">
		<h1>
			<a href="{{'/page/' + parentPage.id}}" *ngFor="let parentPage of parentPages">{{parentPage.title}}</a>
			<span *ngIf="parentPages.length > 0" style="font-weight: bold;">&gt;</span>
			{{pageTitle}}
		</h1>
	</header>

	<div class="page__sections">
		<section *ngFor="let section of sections" class="page__sections__section">
			<h2 class="page__sections__section__headline">{{section.label}}</h2>
			<div class="page__sections__section__items">
				<hc-item [item]="item" *ngFor="let item of section.items"></hc-item>
			</div>
		</section>
	</div>

</div>

<div class="scrollBarBg"></div>
<div class="scrollBarScroller"></div>
