/*
 * brief    Global style defintions
 * author   Christian Rathemacher (christian@weltenbauer-se.com)
 * company  weltenbauer. Software Entwicklung GmbH
 * date     January 2017
 */

//-----------------------------------------------------------------------------

$baseColor: #d0d0d0;
$backgroundColor: #303030;

$fontSizeBase: 12px;
$defaultFont: 'Open Sans', sans-serif;
