/*
 * brief    Global style defintions
 * author   Christian Rathemacher (christian@weltenbauer-se.com)
 * company  weltenbauer. Software Entwicklung GmbH
 * date     January 2017
 */

//-----------------------------------------------------------------------------

$baseColor: #303a3d;
$backgroundColor: #303030;

$fontSizeBase: 14px;
$defaultFont: 'Open Sans', sans-serif;

$itemSize: 115px;
