/*
 * brief    Global style for the page Scroll-Element
 * author   Christian Rathemacher (christian@weltenbauer-se.com)
 * company  weltenbauer. Software Entwicklung GmbH
 * date     January 2017
 */

//-----------------------------------------------------------------------------

@import 'definitions';

//-----------------------------------------------------------------------------

.iScrollHorizontalScrollbar {
	position: relative;
	width: 100%;
	height: 5px;
	background-color: transparent;
	border: 1px solid transparent;
	outline: 3px solid rgba(255,255,255,0.3);
	outline-offset: -3px;
}

.iScrollIndicator{
	height: 3px;
	background-color: $backgroundColor;
}
