/*
 * brief    Base SASS Styles
 * author   Christian Rathemacher (christian@weltenbauer-se.com)
 * company  weltenbauer. Software Entwicklung GmbH
 * date     January 2017
 */

//-----------------------------------------------------------------------------

@import 'fonts';
@import 'definitions';
@import 'iscroll';

//-----------------------------------------------------------------------------

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	position: relative;
	width: 100vw;
	height: 100vh;
	font-size: $fontSizeBase;
	line-height: 1.3em;
	font-family: $defaultFont;
	color: $baseColor;
	background-color: $backgroundColor;
	overflow: hidden;
	text-transform: uppercase;
	font-weight: normal;
}

hc-app {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

//-----------------------------------------------------------------------------

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

//-----------------------------------------------------------------------------

h1, h2, h3, h4, h5, h6{
	font-weight: normal;
}

h1{
	font-size: 30px;
}

h2{
	font-size: 20px;
}

