
<div class="page">
	<header class="page__header">
		<h1>{{pageTitle}}</h1>
	</header>

	<div id="pageSectionsScrollContainer" class="page__sectionContainer">
		<div class="page__sectionContainer__sections">
			<section *ngFor="let section of sections" class="page__sectionContainer__sections__section">
				<h2 class="page__sectionContainer__sections__section__headline">{{section.label}}</h2>
				<div class="page__sectionContainer__sections__section__items">
					<hc-item [item]="item" *ngFor="let item of section.items"></hc-item>
				</div>
			</section>
		</div>
	</div>
</div>
