<div class="item">

	<div hcBackgroundPosition class="item__backgroundBlur"></div>
	<div class="item__backgroundColor"></div>

	<div class="item__content">
		<hc-icon class="item__content__icon" [icon]="item.icon" [active]="item.value === 'OPEN'"></hc-icon>
		<div class="item__content__label">{{item.label}}</div>
		<div class="item__content__value" *ngIf="item.valueLabel">{{item.valueLabel}}</div>
		<span *ngIf="item.type === _ItemType.Link">(<a [routerLink]="['/page', item.value]">{{item.label}}</a>)</span>
	</div>

</div>

